
body {
    font-family: sans-serif;
  }

#sidebarDiv
{
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6091db;
}


h2
{
  color: #ffffff
}

p{
  color: #ffffff
}


#headerImage {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

#headerText {
  position: relative;
  top: 18px;
  left: 10px;
  color: #ffffff;
}

#header {
  display: flex;
  background-color: #4971ac;
}

#boardPlus {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#addBoardBtn {
    text-align: center;
}



#gear {
    height: 30px;
    width: 30px;
    margin-left: 8px;
}


#logoutBtn {
    text-align: center;
    margin-left: 15px;
    position: absolute;
    bottom: 20px;
    display: flex;
}


.whiteNotes {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

ul {
    list-style: none;
}


span {
    display: flex;
    text-align: center;
    position: relative;
    left: -15px;
}